os
numpy
pandas
sklearn.model_selection,train_test_split
seaborn
scipy.stats.pearsonr
sklearn.compose.ColumnTransformer
sklearn.pipeline.Pipeline
sklearn.preprocessing.StandardScaler
sklearn.decomposition.PCA
tensorflow.keras.Sequential
tensorflow.keras.layers.Dense
tensorflow.keras.callbacks.EarlyStopping
matplotlib.pyplot
sklearn.tree.DecisionTreeClassifier
sklearn.tree.plot_tree
sklearn.metrics.accuracy_score
